bus.loganpeterson.org {
\tencode zstd gzip
\treverse_proxy 127.0.0.1:8000

\theader {
\t\t-Server
\t\tX-Content-Type-Options nosniff
\t\tReferrer-Policy strict-origin-when-cross-origin
\t\tPermissions-Policy "geolocation=(self)"
\t}
}
